
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    background: linear-gradient(135deg, #141e30, #243b55);

    font-family: Arial, sans-serif;
}

/* Main clock */
.clock {
    width: 380px;
    height: 380px;

    position: relative;

    border: 10px solid #ffffff;

    border-radius: 50%;

    background: rgba(255, 255, 255, 0.08);

    box-shadow:
        0 0 20px rgba(255, 255, 255, 0.2),
        0 0 50px rgba(0, 0, 0, 0.5),
        inset 0 0 30px rgba(255, 255, 255, 0.1);

    backdrop-filter: blur(8px);
}

/* Clock numbers */
.number {
    position: absolute;

    color: white;

    font-size: 24px;
    font-weight: bold;

    width: 40px;
    height: 40px;

    text-align: center;

    line-height: 40px;
}

/* Positions of numbers */

.n12 {
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
}

.n1 {
    top: 38px;
    right: 80px;
}

.n2 {
    top: 90px;
    right: 35px;
}

.n3 {
    top: 50%;
    right: 8px;
    transform: translateY(-50%);
}

.n4 {
    bottom: 90px;
    right: 35px;
}

.n5 {
    bottom: 38px;
    right: 80px;
}

.n6 {
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}

.n7 {
    bottom: 38px;
    left: 80px;
}

.n8 {
    bottom: 90px;
    left: 35px;
}

.n9 {
    top: 50%;
    left: 8px;
    transform: translateY(-50%);
}

.n10 {
    top: 90px;
    left: 35px;
}

.n11 {
    top: 38px;
    left: 80px;
}

/* Common hand styling */
.hand {
    position: absolute;

    left: 50%;
    bottom: 50%;

    transform-origin: bottom;

    border-radius: 10px;

    transform: rotate(0deg);
}

/* Hour hand */
.hour-hand {
    width: 9px;
    height: 85px;

    background: white;

    margin-left: -4.5px;

    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

/* Minute hand */
.minute-hand {
    width: 6px;
    height: 120px;

    background: #dddddd;

    margin-left: -3px;

    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

/* Second hand */
.second-hand {
    width: 3px;
    height: 145px;

    background: #ff4d6d;

    margin-left: -1.5px;

    box-shadow: 0 0 12px #ff4d6d;
}

/* Center circle */
.center-dot {
    position: absolute;

    width: 20px;
    height: 20px;

    background: #ff4d6d;

    border: 4px solid white;

    border-radius: 50%;

    left: 50%;
    top: 50%;

    transform: translate(-50%, -50%);

    z-index: 10;

    box-shadow: 0 0 15px #ff4d6d;
}

/* Small inner circle */
.clock::after {
    content: "";

    position: absolute;

    width: 12px;
    height: 12px;

    border: 2px solid rgba(255, 255, 255, 0.4);

    border-radius: 50%;

    left: 50%;
    top: 50%;

    transform: translate(-50%, -50%);
}

